@model CoreDemoApp.Models.OrderModel
@{
    ViewBag.Title = "View Order";
}

<h2>@ViewData["Title"]</h2>


@if (Model.OrderDetails.Count > 0)
{
    <table class="table" id="tbl">
        <tr>
            <th>Title</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>Order SubTotal</th>
        </tr>
        @foreach (var detailItem in Model.OrderDetails)
        {
            <tr>
                <td>
                    @Html.DisplayFor(d => detailItem.Album.Title)
                </td>
                <td>@Html.DisplayFor(d => detailItem.Album.Price)</td>
                <td>
                    @Html.DisplayFor(d => detailItem.Quantity)
                </td>
                <td>@{ var sub = detailItem.Album.Price*detailItem.Quantity;}@sub</td>
            </tr>
        }
        <tfoot>
            <tr>
                <td colspan="3"></td>
                <td>@ViewBag.OrderTotal</td>
                <td></td>
            </tr>
        </tfoot>
    </table>
}
else
{
    <p>
        No items in your cart
    </p>
}
<a asp-controller="Album" asp-action="Index">Continue Shopping</a>